html {
	height: 100%;
}

body {
	position: relative;
	background-image: url("../images/pixels.png");
	font-family: 'Source+Sans+Pro', sans-serif;
	color: black;
	padding-bottom: 28rem;
	min-height: 100%;
}

.navbar-default {
	background-color: #f9f9f9;
	border-bottom: thin solid #e8e8e8;
}

.navbar-brand {
	color: black;
	font-size: 1.7em;
	font-family: 'Yellowtail', cursive;
	margin-right: 15px;
}

li.menuOption {
	font-family: 'Raleway', sans-serif;
}

.modal-header {
	background-color: #444444;
	color: white;
}

.close {
	text-decoration: none;
	color: white;
}

.modal-content {
	background-color: #f9f9f9;
	font-family: 'Raleway', sans-serif;
	color: black;
	text-align: center;

}

.modal-body > a {
	text-decoration: none;
	color: black;
}

#myNavbar > ul > li > a {
	color: black;
}

.listItems > li > a:visited {
	color: white;
}

.listItems > li > a:hover {
	color: #5aaf0a;
	text-decoration: none;
}

.iconDiv > a:hover {
	text-decoration: none;
}

#portTitle {
	text-align: center;
	margin-bottom: 10px;
}

.portImg {
	border: thin solid #a3a3a3;
	border-radius: 4px;
}

.icon {
	display: block;
	margin: auto;
}

.iconDiv {
	text-align: center;
	margin-top: 5vh;
}

.menuBar {
	margin-bottom: 15px;
}

.portLink {
	margin-right: 20px;
}

a.portLink:hover {
	text-decoration: none;
}

.heading {
	font-family: 'Lato', sans-serif;
	color: black;
}

#headingBlock {
	text-align: center;
	margin-bottom: 15px;
}

#aboutImgA {
	float: right;
	margin-left: 10px;
}

#pairImg {
	float: left;
	margin-right: 10px;
}

#quote {
	text-align: center;
}

#blockB {
	margin-top: 30px;
	text-align: center;
}

#blockB > a {
	text-decoration: none;
	color: white;
}

#blockB > a:hover {
	color: #99b2db;
} 

.listItems {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#siteMap {
	height: 153px;
	margin-bottom: 75px;
	position: absolute;
	left: 0;
	right: 0; 
	bottom: 0;
	background-color: #444444;
	color: white;
}

.contactLink {
	margin: 15px;
}

.caption {
	/*border-top: solid #a3a3a3;*/
}

.fa-play-circle, .fa-code-fork {
	color: black;
	margin-right: 50px;
}

#footer {
    height: 75px;
    background-color: black;
    text-align: center;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

#copyright {
	margin-top: 25px;
}
