body {
	font-family: 'Lato', sans-serif;
	color: #FFFFFF;
	background-color: #1a1a1a;
    height: 100%;
}


.navbar-custom {
	color: #FFFFFF;
    background-color: #262626;
    border-color: transparent;
}

#icon {
	margin-left: 5px;
	padding-bottom: 12px;
}

#bioRow {
    margin-bottom: 10px;
}

#profilePic {
    float: left;
    margin-right: 20px;
    margin-bottom: 50px;
}

#menuItem1, #menuItem2 {
	margin-right: 50px;
}

#portfolioModal {
    background-color: #1a1a1a;
}

.modal-header {
    border-style: hidden;
    margin-bottom: 15px;
    color: gray;
}

#bottomRow {
    margin-bottom: 20px;
}

.jumbotron {
    height: 500px;
    margin-top: 100px;
    text-align:center;
    background: #000 url("../images/jumboA.jpg") no-repeat center center;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    color: #FFF; // change text color
}

.description > h3 > a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: #FFFFFF;
}

.description {
	padding-top: 350px;
}

#about {
    font-size: medium;
    margin-bottom: 30px;
}

#iconRow {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #f2f2f2;
    margin-bottom: 0;
}

.fa {
    color: gray;
}

.portHeading {
    background-color: #262626;
}

.portImg {
    float: left;
    margin-right: 20px;
}

#friendImg {
    margin-bottom: 35px;
}

#reactImg {
    margin-bottom: 60px;
}

ul {
    list-style-position: inside;
}

#iconA, #iconB, #iconC, #quote, #email {
    text-align: center;
}

.footer {
    height: 75px;
    background-color: #262626;
    width: 100%;
}




